* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* para que la barra de navegacion sea transparente  */ 

header .navbar {
  background-color: transparent;
}
 /*  estilo de favicons fondo y color de letra y que sea responsivo with100%*/ 
.estiloFavicons {
  background-color: #0cc4f4;
  color: #FFFF;
  width: 100%;
  text-align: center;
}
 /* agegado de padding par aestructura html  */ 
.esqueletoHtml {
  padding-left: 100px;
  padding-right: 100px;
}
 /* alineamiento de titulos  */ 
#estiloTitulo {
  text-align: center;
}

body {
  background-color: black;
  color: #FFFF;
  font-family: 'Cabin' !important;
}
 /*  color de fondo de cards */ 
.card {
  background-color: #0cc4f4;
}

 /* tamaño de iconos */ 
#tamanoFavicon {
  font-size: 20px;
}
 /* color de footer y letras  */ 
#estiloFooter {
  background-color: #0cc4f4!important;
  color: #FFFFFF;

}

#tituloFooter{ 
  padding-left: 280px;
}